<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="binaryfolder" value="C:\Users\Bundt\Desktop\youtube-dl" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CommandPrefix" value="?" />
    <add key="SongCacheFolder" value="c:/@mp3_test/" />
    <add key="BotTokenPath" value="keys/BotToken.txt" />
    <add key="BotNickName" value="bundtbot-test" />
  </appSettings>
</configuration>
